/* Replace these styles with your desired custom button styles */
#certificate-button-container {
    text-align: center;
}

.custom-button {
    background-color: #0f6cbf;
    color: white;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.2s;
}

.custom-button:hover {
    background-color: #45a049;
}

.custom-button:active {
    background-color: #3e8e41;
}
